 # Sets
 - not ordered --> not indexable
 - Non redundant 
 - Heterogenous --> ONLY immutables can be elements of a set (numbers, tuples and strings)
 - Mutable 
 - not hashable
 - has specific methods / operators to perform mathematical set operations

In [3]:
s_1 = {1,2,3,"This is a set", (9,8,4,8)}
s_1

{(9, 8, 4, 8), 1, 2, 3, 'This is a set'}

__sets follow an order__

In [1]:
s_1 = {1,2,3,"This is a set", (9,8,8),{1,2,3},{1,2,3,4}}
s_1

TypeError: unhashable type: 'set'

In [16]:
set = { (1,2,3) , (1,2), (1,),"a",1.5,1}
set

{(1, 2), (1, 2, 3), (1,), 1, 1.5, 'a'}

So it is collections (tuples) > int > float > string

__cannot take mutable elements, not even a set itself__

Set union
---
{set1} | {set2}

In [ ]:
s_1 = {1,2,3}
s_2 = {3,4,5}
print(s_1 | s_2)

{1, 2, 3, 4, 5}

Same can be achieved by using `.union()` method and not that it is not in-place (i.e., out-place-method)

In [ ]:
print(s_1.union(s_2))
print(s_1) #s_1 is not updated but just adjoined for that moment

{1, 2, 3, 4, 5}
{1, 2, 3}

To Store the union however , a new instance has to be created

In [ ]:
s_3 = s_1.union(s_2)
print(s_3)

{1, 2, 3, 4, 5}

---
Set Intersection
---

`&` can be used to find the intersection between 2 sets

In [ ]:
s_1 & s_2

{3}

`.intersection()` may be used instead (an out-place-method)

In [ ]:
s_1.intersection(s_2)

{3}

---
Set Difference 
---

In [ ]:
s_1 - s_2

{1, 2}

only __3__ is removed from s_1, as `3` is present in both `s_1` and `s_2`

---
Set Symmetric Difference
---

In [ ]:
s_1 = {1,2,3}
s_2 = {2,3,4}
s_1.symmetric_difference(s_2) #out-place-method

{1, 2, 3}

The Symmetric difference operation removes the common element and combine the remaining elements (just like union does).
- intersection element is removed
- rest all is combined togehter

---
Set Subset and SuperSet
---


__A subset is a smaller set whose elements are all part of a larger set. A superset is a larger set that contains all elements of a smaller set__

In [ ]:
s_3 = {1,2,3,4}
s_4 = {2,3}
s_4.issubset(s_3)

True

In [ ]:
s_4 = {2,3}
s_3.issuperset(s_4)

True

__How to validate strictly__ ?

- `>` checks is it is a subset strictly
- `>=` checks without strict-ness constraint

In [17]:
s_3 = {1,2,3,4}
print(s_3>s_3)
print(s_3>=s_3)

False
True

`<` checks is it is a superset strictly
`<=` checks without strict-ness constraint

In [ ]:
print(s_3<s_3)
print(s_3<=s_3)

False
True

--- 
Set Updatation
---
__it is an in-place operation__

In [18]:
s_2 = {9,2,1,4,5,6}
s_3 = {1, 2, 3, 4}
print(s_2)
print(s_3)
s_2.update(s_3)
s_2

{1, 2, 4, 5, 6, 9}
{1, 2, 3, 4}

{1, 2, 3, 4, 5, 6, 9}

`union` creates and returns a new set without modifying the originals, while `update` changes the existing set in place to include elements from another set

---
Set Intersection Update
---

In [ ]:
s_1 = {1, 2, 3, 4, 5}
s_2 = {3, 4, 5, 6, 7}

s_1.intersection_update(s_2)
s_1

{3, 4, 5}

---
Set add
---

In [ ]:
print(s_1)
s_1.add(2) # in-place method , it adds and set in an order
s_1

{3, 4, 5}

{2, 3, 4, 5}

`.add()` can be used to add elements into a set

---
Set Clear
---

In [ ]:
print(s_1)
s_1.clear()
s_1

{2, 3, 4, 5}

set()

it prints `set()` to represent an empty set, because there otherwise would not be any difference between that and an empty dictionary

---
Set Discard
---

In [ ]:
s_1 = {1,2,3,4,5}
s_1.discard(3)
s_1

{1, 2, 4, 5}

__Discard takes one parameter at once and removes it, and if the given element is not present, it does nothing__

In [ ]:
s_1 = {1,2,3,4,5}
s_1.discard(33)
s_1

{1, 2, 3, 4, 5}

`pop() can be differentiated here with discard, as pop ejectes the last element, while pop removes the given element`

---
Set Remove
---

In [ ]:
s_1 = {1,2,3,4,5}
s_1.remove(3)
s_1

{1, 2, 4, 5}

In [ ]:
s_1.remove(33) # throws an error if element is not present

KeyError: 33

---
Set Disjoint
---

__Two sets are disjoint if they have no common elements__

In [ ]:
s_1 = {1,2,3}
s_2 = {4,5,6}

s_1.isdisjoint(s_2) # no common elements

True

---
Frozen Set
---

In [ ]:
s_1 = {1,2,3}
s_1.add(4)
s_1

{1, 2, 3, 4}

In [ ]:
s_2 = frozenset(s_1)
s_2

frozenset({1, 2, 3, 4})

In [ ]:
s_2.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

__can no longer be updated or changed__

__Explanation__

A frozenset in Python is an immutable version of a set. Unlike regular sets, frozensets cannot be modified (no adding, removing, or updating elements). However, they support set operations like union, intersection, and difference.

---
Set using constructor
---