In [51]:
year = 2024
if (year % 4 == 0):
    print(f'{year} is a leap year')

else: 
    print(f'{year} i s not a leap year')

2023 is not a leap year

In [52]:
a = 5
b = 'K'
c = "varun"

In [53]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'str'>

In [54]:
v = [1,'nikkki','varun',4.555]
print(v)
type(v)

[1, 'nikkki', 'varun', 4.555]

list

In [55]:
a = 'nikitha'
for i in a :
    print(i,end = "")

nikitha

In [68]:
list_of_lists = [ [11, 22], [33, 44], [55, 66], [77, 88,99]]
for list in list_of_lists:
    for x in list:
        print(x,end=" ")
    print('\t',end = "")

11 22 	33 44 	55 66 	77 88 99

In [87]:
k=0
List = ['tarun','tomaato','nikki','nitrogen','new car']
for i in List:
    if(i[0] == 'n'):
        k += 1

nikki
nitrogen
new car

In [97]:
a = 'tarun'
k = len(a)

for i in range (k-1,-1,-1):
    print(a[i],end = "")

nurat

In [105]:
a = 'elephant'
b = a[::-1]
print(b)

tnahpele

In [106]:
a = input("please enter your name : ")
b = input(f"hello {a}!, please enter your password")

In [107]:
print(b)

1234567

In [120]:
glist = []

glist.append(input('enter : '))

In [121]:
glist.append('tarun')
glist

['wish', 'tarun']

In [122]:
glist.append(input())
glist

['wish', 'tarun', '123']

In [11]:
a = 65
b = int(a)
c = chr (a)
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>